{% extends "polls/base.html" %}

{% block content %}
<br /><div class="qn">
    <h2>{{ question.question_text }}</h2>
    <div class="opts">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <div class="opt">
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br /><br />
        </div>
        {% endfor %}
        <br /><input type="submit" value="Vote">
        </form>
    </div>
</div>
{% endblock %}