<!DOCTYPE html>

<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Audiowide&display=swap" rel="stylesheet">
    <title>Polls | {{ question.id }}</title>
</head>

<body>
<br/>
<center><h1>{{ question }}</h1></center><br/><br/>
<form action="{% url 'vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <ul>
        <label class="container">{{ choice.choice_text }}
            <input type="radio" name="choice" value="{{ choice.id }}">
            <span class="checkmark"></span>
        </label><br/>
    </ul>
    {% endfor %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <br/><input type="submit" value="Vote" class="pad">
</form>
</body>

</html>